@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: max-content;
  width: 100%;
}

body {
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .custom-height {
    height: 200vh;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-height {
    height: 150vh;
  }
}
@media (min-width: 1024px) {
  .custom-height {
    height: 100vh;
  }
}
