@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS RESET  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: max-content;
  width: 100%;
}

body {
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .custom-height {
    height: 200vh;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-height {
    height: 150vh;
  }
}
@media (min-width: 1024px) {
  .custom-height {
    height: 100vh;
  }
}
.emoji {
  animation: wave 5s ease-in-out;
  display: inline-block;
  transform-origin: 70% 70%;
}
x @keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(18deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
