@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS RESET  */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#contact,
#about {
  @media (min-width: 1440px) {
    height: 90vh;
  }
}
.emoji {
  animation: wave 5s ease-in-out;
  display: inline-block;
  transform-origin: 70% 70%;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(18deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
